.ComplaintAFlex{
    display: flex;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
}

.ComplaintAFlex input{
    padding: 10px;
    margin: 0 auto;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
}

.ComplaintAFlex button{
    padding: 10px;
    margin: 0 auto;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
}